@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Registration
<form asp-action="send" method="post" enctype="multipart/form-data">
<div class="">
    <div class="v19_16">
    </div>
    <span class="v19_5">Регистрация</span>
    <div class="v19_17"></div><div class="v19_18">
    </div><div class="v19_19"></div><div class="v19_20">
    </div>
    <div>
        <input asp-for="UserName" class="v19_21" placeholder="Введите имя"></input>
    </div>
    <div>
            <input asp-for="Password" class="v19_22" placeholder="Введите пароль"></input>
    </div>
    <div>
            <input asp-for="Email" class="v19_23" placeholder="Введите почту"></input>
    </div>
    <div>
            <input asp-for="PhoneNumber" class="v19_24" placeholder="Введите номер телефона"></input>
    </div>
    <button asp-controller="Reg" asp-action="send" class="v19_15" type="submit">Зарегистрироваться</button>
    <div />
</form>