@{
    ViewData["Title"] = "Home Page";
}

<div>
  <span class="v2_15">
            Только натуральные
            продукты
            <img class="image-1" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/68e5a973215695.5c01d5cb876ba.png" alt="image-1">
            <img class="image-2" src="https://1.bp.blogspot.com/-Y691gDi4gmc/XubtlwphygI/AAAAAAAA0-c/JobIf73RuSMs35NhcF8UGEuBsnf8B5EYgCLcBGAsYHQ/s1600/%25D1%2584%25D1%2580%25D1%2583%25D0%25BA%25D1%2582%25D1%258B_%2BDoV%2B%25281%2529.png" alt="image-2">
  </span><span class="v2_17">Онлайн-магазин по продаже органической продукции всего в несколько кликов!</span><div class="v2_19"></div><button  class="v5_45"></button><a href="" class="v5_47">Оформить заказ</a><div class="v5_43"></div>
</div>